body {
  background-color: #39424e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .itemListManager {
      display: flex;
      width: 30rem;
      height: fit-content;
      flex-direction: column;
      gap: 10px;

      .titleContainer {
        .title {
          display: flex;
          width: 100%;
          color: white;
          font-weight: 3px;
          font-size: 30px;
          letter-spacing: 1.5px;
        }
      }
      .input {
        padding: 15px;
        border-radius: 2px;
        font-size: 18px;
      }
      .button {
        background-color: #1ba94c;
        color: white;
        padding: 15px;
        border-radius: 2px;
        font-size: 18px;
        border: none;
      }
      .list {

      }
      .el {
        
      }
    }
  }
}
